<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.qlsvConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=qlsv;Persist Security Info=True;User ID=sa;Password=110805;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>